BDDD/BDDD.Tools.ConfigurationDesigner/BDDDConfiguration.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:BDDD.Tools.ConfigurationDesigner" elementFormDefault="qualified" targetNamespace="urn:BDDD.Tools.ConfigurationDesigner" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="bDDDConfigSection" type="tns:BDDD.Tools.ConfigurationDesigner.BDDDConfigSectionCT" />
	<xs:complexType name="BDDD.Tools.ConfigurationDesigner.BDDDConfigSectionCT">
		<xs:sequence>
			<xs:element minOccurs="1" name="application" type="tns:BDDD.Tools.ConfigurationDesigner.ApplicationElementCT">
				<xs:annotation>
					<xs:documentation>The Application.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="interception" type="tns:BDDD.Tools.ConfigurationDesigner.InterceptionElementCT">
				<xs:annotation>
					<xs:documentation>The Interception.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BDDD.Tools.ConfigurationDesigner.ApplicationElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="provider" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Provider.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="BDDD.Tools.ConfigurationDesigner.InterceptionElementCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="interceptors" type="tns:BDDD.Tools.ConfigurationDesigner.InterceptorElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The Interceptors.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BDDD.Tools.ConfigurationDesigner.InterceptorElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="interceptorElement" type="tns:BDDD.Tools.ConfigurationDesigner.InterceptorElementCT">
				<xs:annotation>
					<xs:documentation>The InterceptorElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BDDD.Tools.ConfigurationDesigner.InterceptorElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
